body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    background: #f6e7ea;
}
/*PAGE WRAPPER */
.page {
    padding-top: 40px;
}

/*HEADER */
.header {
    max-width: 760px;
    margin: 40px auto 0;
    background-color: #f1c1ca;
    border-radius: 18px;
    border: 3px solid #af3b4d;
}

.header-inner {
    position: relative;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.love-container {
    position: absolute;
    left: 22px;
    display: flex;
    gap: 10px;
    background-color: #ecc9ca;
}

.heart {
    width: 10px;
    height: 10px;
    background-color: #df1a42;
    position: relative;
    transform: rotate(-45deg);
}

.heart::before,
.heart::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #df1a42;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -5px;
    left: 0;
}

.heart::after {
    left: 5px;
    top: 0;
}

.header-title {
    font-size: 15px;
    color: #df1a42;
    font-family: 'poppins';
    margin-left: auto;
    margin-right: 12px;
}

/*Container 2*/
.content {
    background: #f1c1ca;
    max-width: 720px;
    padding: 20px;
    margin: 40px auto;
    margin-top: 10px;
    border-radius: 18px;
    border: 3px solid #af3b4d;
    box-shadow: inset 0 10px 25px rgba(180, 60, 80, 0.25);
}

.content::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 24px;
    right: 24px;
    height: 16px;
    background: #ecc9ca;
    border-radius: 0 0 14px 14px;
}

.story h2 {
    text-align: center;
    color: #df1a42;
    gap: 8px;
}

.img-row {
    display: flex;
    gap: 40px;
    justify-content: center;
}
.box {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease;
}

.box.expand{
    transform: none;
    z-index: 10;
}
.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}
.box img {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.4s ease;
}

.box:hover img {
    transform: scale(1.1);
}

.text-hover {
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    text-align: center;
    background: transparent;
    color: #af3b4d;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.4s ease;
}

.box:hover .text-hover {
    opacity: 1;
    transform: translateY(0);
}

.box.active {
    width: 350px;
    height: 350px;
    transition: 0.5s ease;
}

.hidden {
  display: none;
}

.new-page {
  max-width: 720px;
  margin: 10px auto;
  padding: 20px;
  background: #f1c1ca;
  border-radius: 18px;
  border: 3px solid #af3b4d;
  box-shadow: inset 0 10px 25px rgba(180, 60, 80, 0.25);
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.new-page:not(.hidden) {
  opacity: 1;
}

/* H1 default state (sembunyi dulu) */
.new-page h1 {
  opacity: 0;
  transform: translateY(40px);
}

/* Class untuk animasi */
.slide-up {
  animation: slideUp 1s ease forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TYPEWRITER CURSOR */
#letterText::after,
#cakeText::after {
  content: "|";
  animation: blink 3s infinite;
  margin-left: 5px;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.flower-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
}

.flower {
  position: absolute;
  bottom: -40px;
  animation: floatUp linear forwards;
  opacity: 0.9;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh) rotate(360deg);
    opacity: 0;
  }
}

.watermark {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 13px;
  letter-spacing: 2px;
  color: rgba(175, 59, 77, 0.4);
}
